
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
@using BookStore.Models
@model Sach



<!-- Header -->
<!-- //Header -->
<!-- Start Search Popup -->
<div class="box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="#">
        <div class="field__search">
            <input type="text" placeholder="Search entire store here...">
            <div class="action">
                <a href="#"><i class="zmdi zmdi-search"></i></a>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>close</span>
    </div>
</div>
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="wn__single__product">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wn__fotorama__wrapper">
                                <div class="fotorama wn__fotorama__action" data-nav="thumbs">


                                    <a href="~/Content/images/books/@Model.Hinhminhhoa"><img src="~/Content/images/books/@Model.Hinhminhhoa" alt=""></a>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product__info__main">
                                <h1>@Model.Tensach</h1>
                                <div class="product-reviews-summary d-flex">
                                    <ul class="rating-summary d-flex">
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                        <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                    </ul>
                                </div>
                                <div class="price-box">
                                    <span>$@Model.Dongia</span>
                                </div>
                                <div class="product__overview">
                                    <p>@Model.Motangangon</p>
                                </div>
                                <div class="box-tocart d-flex">
                                    <span>Qty</span>
                                    <div class="btn-group">
                                        <button id="btnMinus" type="button" class="btn" style="background-color: #4CCFC1; color: #fff;" onclick="onChangeQuantity('btnMinus')"><i class="fa fa-minus"></i></button>
                                        <input id="quantityValue" type="text" class="form-control" value="1" style="width: 65px; border-radius: unset; text-align: center;" disabled>
                                        <button id="btnPlus" type="button" class="btn" style="background-color: #4CCFC1; color: #fff;" onclick="onChangeQuantity('btnPlus')"><i class="fa fa-plus"></i></button>
                                    </div>
                                    <div class="addtocart__actions">
                                        <button class="tocart" type="button" id="addToCart" title="Add to Cart">Add to Cart</button>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__info__detailed">
                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
                    </div>
                    <div class="tab__container">
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                            <div class="description__attribute">
                               
                                <ul>
                                    <li>@Model.Motangangon</li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                        <!-- Start Single Tab Content -->
                        <!-- End Single Tab Content -->
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    @Html.Action("ProductCategory", "Books")
                    @Html.Partial("Filter")

                    @Html.Action("GetProductTag", "Books")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End main Content -->
<div id="modalAddToCart" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAddToCart" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sản phẩm đã được thêm vào giỏ hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="addProductSuccess">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="onRedirectToAction('/Books/Index')">Tiếp tục mua hàng</button>
                <button type="button" class="btn btn-success" onclick="onRedirectToAction('/Cart/Index')">Đến giỏ hàng</button>
            </div>
        </div>
    </div>
</div>

<div id="modalLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">Bạn phải đăng nhập để sử dụng chức năng này</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="onRedirectToAction('/User/Login')">Đăng nhập</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>

<script>
    const onChangeQuantity = selector => {
        let quantity = @Model.Soluong
        let currentValue = $('#quantityValue').val()
        if (selector === 'btnMinus') {
            --currentValue === 0 ? $('#quantityValue').val(1) : $('#quantityValue').val(currentValue)
        } else {
            ++currentValue > quantity ? $('#quantityValue').val(quantity) : $('#quantityValue').val(currentValue)
        }
    }
    const onRedirectToAction = url => {
        $(location).attr("href", url)
    }
</script>

@{ if (Session["USER_SESSION"] != null)
    {
<script>
    
            $('#addToCart').click(e => {
                e.preventDefault()
                let quantity = $('#quantityValue').val()
                let contentString =
                    `
                        <div style="display: flex">
                            <img src="/Content/images/books/@Model.Hinhminhhoa" alt="product_image">
                            <div>
                                <h3>@Model.Tensach</h3>
                                <span>Số lượng: ${ quantity }</span><br />
                                <span>Đơn giá: @( Model.Dongia + "$")</span>
                            </div>
                        </div>
                    `
                $.ajax({
                    url: '/DetailProduct/AddToCart',
                    data: { productID: @Model.Masach, quantity },
                    method: 'POST',
                    dataType: 'text',
                    success: function (response) {
                        response = JSON.parse(response)
                        if (response.status === true) {
                            $('#addProductSuccess').html(contentString)
                            $('#modalAddToCart').modal('show')
                        } else {
                            alert('Thêm thất bại')
                        }
                    }
                })
                $.ajax({
                    url: '/DetailProduct/TotalPrice',
                    success: function (response) {
                        $("#total-price").html(response + "$");
                    }
                })
            })
</script>
 }
else
{
<script>
    $('#addToCart').click(e => {
        e.preventDefault()
        $('#modalLogin').modal('show')
    })
</script>
 } }





<!-- End Search Popup -->
